// el-image图片组件错误时样式
.main-color {
    color: var(--el-color-primary);
}

.image-err {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--el-color-info-light-3);
    background-color: var(--el-color-info-light-9);

    i {
        font-size: 32px;
    }
}

.pos {
    position: relative;
    width: 100%;
    height: 0;

    >img {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}


.el-image {

    .el-image__error,
    .el-image__inner,
    .el-image__placeholder,
    .el-image__wrapper {
        position: absolute;
        top: 0;
        left: 0;
    }

    .image-err,
    .image-error {
        position: absolute;
        top: 0;
        left: 0;
    }
}

// el-dialog弹窗
.el-dialog {

    &.el-dialog--center {
        .el-dialog__header {
            margin-left: 16px;
        }
    }

    &.is-fullscreen {
        display: flex;
        flex-direction: column;

        .el-dialog__body {
            flex: 1;
            overflow: auto;

            .dialog-body-box {
                height: unset;
            }
        }
    }

    .el-dialog__body {
        padding: 20px;

    }

}

// 弹窗遮罩，滚动条
.el-popup-parent--hidden {
    .fixed-box {
        right: 10px !important;
    }
}

/* Firefox */
@-moz-document url-prefix() {
    .el-popup-parent--hidden {
        .fixed-box {
            right: 8px !important;
        }
    }
}


// el-cascader级联选择器
.el-cascader-menu {
    .el-cascader-node {

        .el-cascader-node__prefix,
        .el-cascader-node__postfix {
            position: absolute;
        }
    }
}

// el-date-picker 日期选择组件
.el-date-editor .el-range-input {
    width: 42% !important;
}


.el-form {
    --el-form-inline-content-width: unset !important;
}

.el-textarea__inner {
    max-height: 500px;
}


.el-table {
    .el-table__inner-wrapper {
        .cell {
            padding: 0 10px;
        }
    }
}